 * {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
     box-sizing: border-box;
 }
 
 body {
     background-color: #ddd;
 }
 /*Untuk Form*/
 
 div.Title {
     text-align: center;
     margin: 50px auto;
 }
 /*Untuk Form end*/
 /*Untuk Navbar*/
 
 nav {
     display: flex;
     background-color: #f4f4f4;
     height: 8vh;
     align-items: center;
 }
 
 nav div {
     display: flex;
     align-items: center;
     flex: 50%;
 }
 
 nav div.left-side {
     padding-left: 90px;
 }
 
 nav div.right-side {
     display: flex;
     justify-content: flex-end;
     padding-right: 90px;
 }
 
 nav ul {
     display: flex;
     list-style-type: none;
 }
 
 nav ul li {
     display: inline;
     margin-left: 40px;
 }
 
 nav ul li a {
     text-decoration: none;
     color: black;
 }
 
 nav ul li a.active {
     color: #1e1e1e;
     font-weight: 800;
 }
 
 nav .right-side a {
     font-size: 15px;
     padding: 8px 20px;
     background-color: #1e1e1e;
     width: 100% auto;
     border-radius: 8px;
     color: #fff;
     text-decoration: none;
 }
 /*Untuk Navbar*/
 /*Isi LP*/
 
 .container {
     background-color: white;
     justify-content: center;
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     width: 90%;
     height: auto;
     min-height: 100vh;
     margin: 100px auto;
     border-radius: 15px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
 }
 
 .warp {
     display: flex;
     align-items: center;
     padding: 100px 80px;
 }
 
 .text>p {
     text-align: justify;
     margin: 0 80px 0 0;
 }
 
 .button {
     display: flex;
     margin: 70px auto;
 }
 
 .container-img {
     text-align: center;
 }
 
 #logo {
     padding: 0 15px 0 0;
 }
 
 #link {
     text-decoration: none;
     color: #1e1e1e;
 }
 
 #link-1 {
     text-decoration: none;
 }
 
 .container-img {
     width: 100%;
     height: auto;
     border-radius: 5px;
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
 }
 
 .container-img>img {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 
 #foto {
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 
 @media screen and (max-width: 922px) {
     .warp {
         flex-wrap: wrap;
     }
     .container {
         width: 90%;
     }
     .logo {
         margin: 0 0 50px 0;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
     nav {
         justify-content: center;
         align-items: center;
         text-align: center;
     }
     nav .right-side {
         width: 10%;
     }
     .container-img {
         width: 50%;
         margin: auto;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
     .container-img>img {
         width: 100%;
         margin: auto;
         justify-content: center;
         align-items: center;
         text-align: center;
     }
     .button {
         width: auto;
         justify-content: center;
         align-content: center;
         text-align: center;
     }
     .text {
         width: 100%;
         justify-content: center;
         align-content: center;
         padding: none;
         margin: none;
     }
 }